<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Просмотр расчета</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <style>
      .showTaskButton  {  
        border: none; 
        padding: 0; 
        margin: 0;
        color: #0d6efd; 
        background-color: transparent; 
        }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Pareto-Q</a>
        <div class="btn-group dropstart">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">{{ user }}</button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% if role == "admin" %}
            <li><a class="dropdown-item" href="/admin">Управление</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="/logout">Выход</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <form method="POST">
      <h1 style="word-break: break-all">
        <button type="submit" class="btn btn-outline-secondary" name="cancel_button" value="calculation" style="padding-top: 3px; padding-left: 10px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"></path>
          </svg>
        </button>
        Расчет <b>"{{ calculation_data[0]['name'] }}"</b>
      </h1>

      {% if not calculation_data[0]['approximation'] and not calculation_data[0]['approximation'] %}
      <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Вычисление...
      </button>

      <button value="{{ calculation_data[0]['id'] }}" name="show_calculation" id="reload_button" type="submit" class="btn btn-secondary" style="display: none;">
        Обновить
      </button>

      <script>
        setTimeout(function () {
          document.getElementById("reload_button").click();
        }, 3000);
      </script>
      {% endif %}
      
      </form>

      <hr>

      <div class="row">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Поле</th>
                <th>Значение</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Название расчета</td>
                <td> {{ calculation_data[0]['name'] }} </td>
              </tr>
              <tr>
                <td>Дата создания</td>
                <td> {{ calculation_data[0]['created'] }} </td>
              </tr>
              <tr>
                <td>Алгоритм</td>
                <td> {{ calculation_data[0]['algorythm'] }} </td>
              </tr>
              <tr>
                <td>Задача</td>
                {% if not calculation_data[0]['approximation'] and not calculation_data[0]['approximation'] %}
                <td>
                  {{ calculation_data[0]['task_name'] }}
                </td>
                {% else %}
                <td> 
                  <button type="button" class="btn showTaskButton" data-bs-toggle="modal" data-bs-target="#taskModal">{{ calculation_data[0]['task_name'] }}</button>
                </td>
                {% endif %}
              </tr>
              <tr>
                <td>Аппроксимация</td>
                {% if not calculation_data[0]['approximation'] %}
                <td>
                </td>
                {% else %}
                <td style="white-space: pre-wrap;">{{ calculation_data[0]['approximation'] }}</td>
                {% endif %}
              </tr>
              <tr>
                <td>Индикаторы</td>
                {% if not calculation_data[0]['indicators'] %}
                <td>
                </td>
                {% else %}
                <td style="white-space: pre-wrap;">{{ calculation_data[0]['indicators'] }}</td>
                {% endif %}
              </tr>
            </tbody>

            <div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="taskModalLabel">Задача</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" style="white-space: pre-wrap;">{{ calculation_data[0]['task_data'] }}</div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                  </div>
                </div>
              </div>
            </div>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
